.main__container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.storage__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.storage-type-list__container ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.storage-type-list__container ul li {
  list-style: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.storage-type-list__container ul li:first-child {
  transform-origin: right;
}
.storage-type-list__container ul li:last-child {
  transform-origin: left;
}
.storage-type-list__container ul li:hover {
  transform: scale(1.1);
}
